# backend/requirements.txt (torch 2.0.0으로 버전 고정)

# --- 1. GPU 인덱스 (본인의 PC의 장착된 GPU CUDA 활성화) ---
# MX250 (CUDA 11.8)에 맞는 PyTorch 저장소
--extra-index-url https://download.pytorch.org/whl/cu118

# --- 2. Flask 서버 ---
flask==3.0.3

# --- 3. AI 핵심 로직 ---
torch==2.0.0
torchaudio==2.0.1

# demucs는 위 버전에 맞춰서 설치됨
demucs==4.0.1
tensorflow

# --- 4. 오디오 및 유틸리티 ---
librosa==0.11.0
pretty_midi==0.2.11
music21==9.1.0
numpy==1.26.4
tqdm